.row {
  border: 2px solid red;
}
/* grids */
.row:before, .row:after { content: ""; display: table; clear: both; }

/*GRID MONITOR*/

@media screen and (min-width: 1367px) and (max-width: 1920px) { [class*="col-"] { float: left; min-height: 450px; padding: 0px; }
  .col-1 { width: 8.33%; }
  .col-2 { width: 16.66%; }
  .col-3 { width: 17%; }
  .col-4 { width: 33.33%; }
  .col-5 { width: 40.00%; background-color: black; }
  .col-6 { width: 50%; }
  .col-7 { width: 58.33%; }
  .col-8 { width: 80.00%; background-color: black; }
  .col-9 { width: 75%; }
  .col-10 { width: 83.33%; }
  .col-11 { width: 91.66%; }
  .col-12 { width: 100%; }
  /*KONIEC GRID MONITOR*/ }

/*GRID LAPTOP*/
@media screen and (min-width: 1025px) and (max-width: 1366px) { [class*="col-"] { float: left; min-height: 317.5px; padding: 0px; }
  .col-1 { width: 8.33%; }
  .col-2 { width: 16.66%; }
  .col-3 { width: 17%; }
  .col-4 { width: 33.33%; }
  .col-5 { width: 40.00%; background-color: black; }
  .col-6 { width: 50%; }
  .col-7 { width: 58.33%; }
  .col-8 { width: 80.00%; background-color: black; }
  .col-9 { width: 75%; }
  .col-10 { width: 83.33%; }
  .col-11 { width: 91.66%; }
  .col-12 { width: 100%; } }

/*KONIEC GRID LAPTOP*/
/*GRID TABLET
  @media only screen and (device-width:768px){
[class*="col-"]{
float: left;
min-height: 235px;
padding: 0px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 17%;}
.col-4 {width: 33.33%;}
.col-5 {width: 40.00%;background-color: black;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 80.00%;background-color: black;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}
/*KONIEC GRID TABLET*/
/*GRID PIONOWO MOBILE*/
@media only screen and (min-width: 481px) and (max-width: 1024px) and (orientation: portrait) { [class*="col-"] { float: left; min-height: 700px; padding: 0px; }
  .col-1 { width: 8.33%; }
  .col-2 { width: 16.66%; }
  .col-3 { width: 17%; }
  .col-4 { width: 33.33%; }
  .col-5 { width: 40.00%; background-color: black; }
  .col-6 { width: 50%; }
  .col-7 { width: 58.33%; }
  .col-8 { width: 80.00%; background-color: black; }
  .col-9 { width: 75%; }
  .col-10 { width: 83.33%; }
  .col-11 { width: 91.66%; }
  .col-12 { width: 100%; } }

/*KONIEC GRID PIONOWO MOBILE*/
/*GRID POZIOMO MOBILE*/
@media only screen and (min-width: 481px) and (max-width: 1024px) and (orientation: landscape) { [class*="col-"] { float: left; min-height: 180px; padding: 0px; }
  .col-1 { width: 8.33%; }
  .col-2 { width: 16.66%; }
  .col-3 { width: 17%; }
  .col-4 { width: 33.33%; }
  .col-5 { width: 40.00%; background-color: black; }
  .col-6 { width: 50%; }
  .col-7 { width: 58.33%; }
  .col-8 { width: 80.00%; background-color: black; }
  .col-9 { width: 75%; }
  .col-10 { width: 83.33%; }
  .col-11 { width: 91.66%; }
  .col-12 { width: 100%; } }

/*KONIEC GRID POZIOMO MOBILE*/
