@charset "UTF-8";
/*STRONA GŁÓWNA TABLET
  @media only screen and (device-width:768px){
.col-8>.banner {
   width: 396px;
  height: 230px;
  float: left;

}
.col-8>.logo {
  float: left;
  width: 100px;
  height: 80px;
  margin: 100px 0px 0px 30px;
}
}
/*KONIEC STRONA GŁÓWNA TABLET*/
