body { margin: 0 auto; }

@media screen and (min-width: 1025px) and (max-width: 1366px) { .col-8.aboutme-section { background: red; background: linear-gradient(to right, #000000, #0d0d0d); }
  .paragraf-about-me { color: white; text-align: left; font-variant-caps: all-petite-caps; font-size: 18px; position: absolute; padding: 20px 0px 0px 70px; }
  .header-about-me { color: white; font-size: 90px; text-decoration: line-through; padding: 110px 0px 0px 0px; letter-spacing: 12px; font-weight: bold; position: relative; margin: 0 auto; }
  .me { width: 500px; height: 340px; position: relative; bottom: 40px; left: 289px; }
  .mobile-photo { display: none; }
  .menu-container { margin: 30px 0px 0px 120px; display: -ms-flexbox; cursor: pointer; -ms-flex-align: center; align-items: center; -ms-flex-pack: center; justify-content: center; position: fixed; }
  .menu-navi { display: inline-block; margin: 35px 0px 0px -25px; width: 0; overflow: hidden; transition: width 0.4s ease-in-out; }
  .menda { color: white; position: relative; top: 360px; right: 443px; font-variant-caps: all-petite-caps; font-size: 18px; }
  .menda > a { text-decoration: none; color: white; }
  .menda > .index { text-decoration-line: line-through; font-weight: bold; } }
