@charset "UTF-8";
/* grids */
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:300,700");
.row:before,
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*GRID WSZYSTKIE URZĄDZENIA*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px), only screen and (min-width: 321px), only screen and (max-width: 320px), only screen and (min-device-width: 768px) and (max-device-width: 1024px), only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape), only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait), only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 1224px), only screen and (min-width: 1824px), only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2), only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2), only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2), only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2), only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2), only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2), only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2), only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2), only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3), only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3), only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3), only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  [class*="col-"] {
    float: left;
    min-height: 250px;
    padding: 0px;
  }
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 17%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 40.00%;
    background-color: black;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 80.00%;
    background-color: black;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
  .col-13 {
    width: 26.66%;
    background-color: black;
  }
  .col-14 {
    width: 20%;
    background-color: black;
  }
  .col-15 {
    width: 60%;
    background-color: black;
  }
}

/*Menu STANTARD*/
.menu-container {
  margin: 30px 0px 0px 120px;
  display: -ms-flexbox;
  cursor: pointer;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
}

.menu-icon span {
  position: relative;
  display: block;
  width: 49px;
  height: 5.5px;
  background: black;
  border-radius: 2px;
  margin-bottom: 5px;
  transition: transform 0.4s ease-in-out, height 0.4s ease-in-out;
}

.opened span {
  background: black;
  transition: transform 0.4s ease-in-out,  height 0s ease-in-out;
}

.opened span:nth-child(1) {
  transform: rotate(-45deg);
  top: 12px;
}

.opened span:nth-child(2) {
  transform: scale(0);
  height: 0;
}

.opened span:nth-child(3) {
  transform: rotate(45deg);
}

.menu-navi {
  display: inline-block;
  margin: 35px 0px 0px -15px;
  width: 0;
  overflow: hidden;
  transition: width 0.4s ease-in-out;
}

.menu-navi ul {
  text-align: left;
}

.menu-navi ul li {
  display: block;
}

.menu-navi ul li a {
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 30px;
  line-height: 70px;
  position: relative;
  transition: margin .4s;
  color: black;
}

.menu-navi li a:hover {
  text-decoration: line-through;
}

.opened .menu-navi {
  width: 150px;
  transition: width 0.5s ease-in-out;
}

.menu-navi {
  display: inline-block;
  margin: 35px 0px 0px -25px;
  width: 0;
  overflow: hidden;
  transition: width 0.4s ease-in-out;
}

/*KONIEC MENU STANTARD*/
/*MENU LAPTOP*/
@media screen and (min-width: 1281px) and (max-width: 1366px) {
  .menu-navi ul li a {
    line-height: 56px;
  }
}

/*MENU KONTENER MOBILE PORTRAIT iPhone*/
@media screen and (min-width: 300px) and (max-width: 450px) and (orientation: portrait) {
  .menu-container {
    margin: 18px 0px 0px 20px;
    display: -ms-flexbox;
    cursor: pointer;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: fixed;
  }
  .menu-navi ul li a {
    font-size: 12.5px;
    line-height: 43px;
    font-weight: bold;
  }
  .menu-navi {
    display: inline-block;
    margin: 35px 0px 0px -18.5px;
    width: 0;
    overflow: hidden;
    transition: width 0.4s ease-in-out;
  }
  .menu-icon span {
    position: relative;
    display: block;
    width: 29px;
    height: 4px;
    background: black;
    border-radius: 2px;
    margin-bottom: 4px;
    transition: transform 0.3s ease-in-out, height 0.3s ease-in-out;
  }
}

/*MENU KONTENER MOBILE LANDSCAPE iPhone*/
@media screen and (min-width: 600px) and (max-width: 800px) and (orientation: landscape) {
  .menu-container {
    margin: 18px 0px 0px 60px;
    display: -ms-flexbox;
    cursor: pointer;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: fixed;
  }
  .menu-navi ul li a {
    font-size: 12.5px;
    line-height: 43px;
    font-weight: bold;
  }
  .menu-navi {
    display: inline-block;
    margin: 35px 0px 0px -18.5px;
    width: 0;
    overflow: hidden;
    transition: width 0.4s ease-in-out;
  }
  .menu-icon span {
    position: relative;
    display: block;
    width: 29px;
    height: 4px;
    background: black;
    border-radius: 2px;
    margin-bottom: 4px;
    transition: transform 0.3s ease-in-out, height 0.3s ease-in-out;
  }
}

/*MENU KONTENER MOBILE LANDSCAPE*/
/*MENU KONTENER TABLET LANDSCAPE*/
@media screen and (min-width: 1024px) and (max-width: 1280px) and (orientation: landscape) {
  .menu-container {
    margin: 18px 0px 0px 90px;
    display: -ms-flexbox;
    cursor: pointer;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: fixed;
  }
  .menu-navi ul li a {
    font-size: 12.5px;
    line-height: 43px;
    font-weight: bold;
  }
  .menu-navi {
    display: inline-block;
    margin: 35px 0px 0px -18.5px;
    width: 0;
    overflow: hidden;
    transition: width 0.4s ease-in-out;
  }
  .menu-icon span {
    position: relative;
    display: block;
    width: 29px;
    height: 4px;
    background: black;
    border-radius: 2px;
    margin-bottom: 4px;
    transition: transform 0.3s ease-in-out, height 0.3s ease-in-out;
  }
}

/*MENU KONTENER TABLET LANDSCAPE*/
/*MENU KONTENER TABLET*/
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .menu-container {
    margin: 18px 0px 0px 20px;
    display: -ms-flexbox;
    cursor: pointer;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: fixed;
  }
  .menu-navi ul li a {
    font-size: 12.5px;
    line-height: 43px;
    font-weight: bold;
  }
  .menu-navi {
    display: inline-block;
    margin: 35px 0px 0px -18.5px;
    width: 0;
    overflow: hidden;
    transition: width 0.4s ease-in-out;
  }
  .menu-icon span {
    position: relative;
    display: block;
    width: 29px;
    height: 4px;
    background: black;
    border-radius: 2px;
    margin-bottom: 4px;
    transition: transform 0.3s ease-in-out, height 0.3s ease-in-out;
  }
}

body {
  background: white;
}

*, *:before, *:after {
  box-sizing: border-box;
}

/*MOUSE SCROLL MONITOR*/
.mouse_scroll {
  display: block;
  margin: 0 auto;
  width: 24px;
  height: 100px;
  margin: 350px 0px 0px 195px;
  position: fixed;
}

/*KONIEC MOUSE SCROLL MONITOR*/
/*MOUSE SCROLL LAPTOP*/
@media screen and (min-width: 1281px) and (max-width: 1366px) {
  .mouse_scroll {
    display: block;
    margin: 0 auto;
    width: 24px;
    height: 100px;
    margin: 200px 0px 0px 135px;
    position: fixed;
  }
}

/*KONIEC MOUSE SCROLL LAPTOP*/
/*MOUSE SCROLL MOBILE-PiONOWO*/
@media screen and (min-width: 300px) and (max-width: 450px) and (orientation: portrait) {
  .mouse_scroll {
    display: block;
    margin: 0 auto;
    width: 24px;
    height: 100px;
    margin: 400px 0px 0px 90px;
    position: fixed;
  }
}

/*KONIEC MOUSE SCROLL MOBILE-PIONOWO*/
/*MOUSE SCROLL MOBILE-POZIOMO*/
@media only screen and (min-width: 600px) and (max-width: 800px) and (orientation: landscape) {
  .mouse_scroll {
    display: block;
    margin: 0 auto;
    width: 24px;
    height: 100px;
    margin: 140px 0px 0px 55px;
    position: fixed;
  }
}

/*MOUSE SCROLL TABLET PORTRAIT*/
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .mouse_scroll {
    display: block;
    margin: 0 auto;
    width: 24px;
    height: 100px;
    margin: 450px 0px 0px 60px;
    position: fixed;
  }
}

/*KONIEC MOUSE SCROLL TABLET PORTRAIT*/
/*MOUSE SCROLL TABLET LANDSCAPE*/
@media screen and (min-width: 1024px) and (max-width: 1280px) and (orientation: landscape) {
  .mouse_scroll {
    display: block;
    margin: 0 auto;
    width: 24px;
    height: 100px;
    margin: 190px 0px 0px 105px;
    position: fixed;
  }
}

/*KONIEC MOUSE SCROLL TABLET LANDSCAPE*/
.m_scroll_arrows {
  display: block;
  width: 5px;
  height: 5px;
  /* IE 9 */
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  margin: 0 0 3px 4px;
  width: 16px;
  height: 16px;
}

.unu {
  margin-top: 1px;
}

.unu, .doi, .trei {
  -webkit-animation: mouse-scroll 1s infinite;
  -moz-animation: mouse-scroll 1s infinite;
}

.unu {
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
}

.doi {
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  margin-top: -6px;
}

.trei {
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  margin-top: -6px;
}

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid black;
  top: 170px;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: black;
  position: relative;
  height: 4px;
  width: 4px;
  border: 2px solid black;
  border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
}

@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  .col-8 > .banner {
    width: 520px;
    height: 270px;
    float: left;
    margin: 45px 0px 0px 100px;
  }
  .col-8 > .logo {
    float: left;
    width: 115px;
    height: 100px;
    margin: 55px 0px 0px 130px;
  }
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  .col-8 > .banner {
    width: 620px;
    height: 350px;
    float: left;
    margin: 170px 0px 0px 130px;
  }
  .col-8 > .logo {
    float: left;
    width: 115px;
    height: 100px;
    margin: 50px 0px 0px 140px;
  }
}

/* iPads (portrait and landscape) ----------- */
/*@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .col-8>.banner {
  width: 330px;
  height: 185px;
  float: left;
  margin: 20px 0px 0px 50px;
  }
.col-8>.logo {
  float: left;
  width: 80px;
  height: 80px;
  margin: 10px 0px 0px 50px;
}
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .col-8 > .banner {
    width: 330px;
    height: 185px;
    float: left;
    margin: 20px 0px 0px 50px;
  }
  .col-8 > .logo {
    float: left;
    width: 80px;
    height: 80px;
    margin: 10px 0px 0px 50px;
  }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .col-8 > .banner {
    width: 330px;
    height: 185px;
    float: left;
    margin: 20px 0px 0px 50px;
  }
  .col-8 > .logo {
    float: left;
    width: 80px;
    height: 80px;
    margin: 10px 0px 0px 50px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .col-8 > .banner {
    width: 330px;
    height: 185px;
    float: left;
    margin: 20px 0px 0px 50px;
  }
  .col-8 > .logo {
    float: left;
    width: 80px;
    height: 80px;
    margin: 10px 0px 0px 50px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .col-8 > .banner {
    width: 330px;
    height: 185px;
    float: left;
    margin: 20px 0px 0px 50px;
  }
  .col-8 > .logo {
    float: left;
    width: 80px;
    height: 80px;
    margin: 10px 0px 0px 50px;
  }
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .col-8 > .banner {
    width: 330px;
    height: 185px;
    float: left;
    margin: 20px 0px 0px 50px;
  }
  .col-8 > .logo {
    float: left;
    width: 80px;
    height: 80px;
    margin: 10px 0px 0px 50px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .col-8 > .banner {
    width: 330px;
    height: 185px;
    float: left;
    margin: 20px 0px 0px 50px;
  }
  .col-8 > .logo {
    float: left;
    width: 80px;
    height: 80px;
    margin: 10px 0px 0px 50px;
  }
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  .col-8 > .banner {
    width: 330px;
    height: 185px;
    float: left;
    margin: 20px 0px 0px 50px;
  }
  .col-8 > .logo {
    float: left;
    width: 80px;
    height: 80px;
    margin: 10px 0px 0px 50px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  .col-8 > .banner {
    width: 330px;
    height: 185px;
    float: left;
    margin: 20px 0px 0px 50px;
  }
  .col-8 > .logo {
    float: left;
    width: 80px;
    height: 80px;
    margin: 10px 0px 0px 50px;
  }
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  .col-8 > .banner {
    width: 330px;
    height: 185px;
    float: left;
    margin: 20px 0px 0px 50px;
  }
  .col-8 > .logo {
    float: left;
    width: 80px;
    height: 80px;
    margin: 10px 0px 0px 50px;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  .col-8 > .banner {
    width: 330px;
    height: 185px;
    float: left;
    margin: 20px 0px 0px 50px;
  }
  .col-8 > .logo {
    float: left;
    width: 80px;
    height: 80px;
    margin: 10px 0px 0px 50px;
  }
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  .col-8 > .banner {
    width: 330px;
    height: 185px;
    float: left;
    margin: 20px 0px 0px 50px;
  }
  .col-8 > .logo {
    float: left;
    width: 80px;
    height: 80px;
    margin: 10px 0px 0px 50px;
  }
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  .col-8 > .banner {
    width: 330px;
    height: 185px;
    float: left;
    margin: 20px 0px 0px 50px;
  }
  .col-8 > .logo {
    float: left;
    width: 80px;
    height: 80px;
    margin: 10px 0px 0px 50px;
  }
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  .col-8 > .banner {
    width: 330px;
    height: 185px;
    float: left;
    margin: 20px 0px 0px 50px;
  }
  .col-8 > .logo {
    float: left;
    width: 80px;
    height: 80px;
    margin: 10px 0px 0px 50px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  .col-8 > .banner {
    width: 330px;
    height: 185px;
    float: left;
    margin: 20px 0px 0px 50px;
  }
  .col-8 > .logo {
    float: left;
    width: 80px;
    height: 80px;
    margin: 10px 0px 0px 50px;
  }
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  .col-8 > .banner {
    width: 330px;
    height: 185px;
    float: left;
    margin: 20px 0px 0px 50px;
  }
  .col-8 > .logo {
    float: left;
    width: 80px;
    height: 80px;
    margin: 10px 0px 0px 50px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  .col-8 > .banner {
    width: 330px;
    height: 185px;
    float: left;
    margin: 20px 0px 0px 50px;
  }
  .col-8 > .logo {
    float: left;
    width: 80px;
    height: 80px;
    margin: 10px 0px 0px 50px;
  }
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  .col-8 > .banner {
    width: 330px;
    height: 185px;
    float: left;
    margin: 20px 0px 0px 50px;
  }
  .col-8 > .logo {
    float: left;
    width: 80px;
    height: 80px;
    margin: 10px 0px 0px 50px;
  }
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  .col-8 > .banner {
    width: 330px;
    height: 185px;
    float: left;
    margin: 20px 0px 0px 50px;
  }
  .col-8 > .logo {
    float: left;
    width: 80px;
    height: 80px;
    margin: 10px 0px 0px 50px;
  }
}

body {
  margin: 0 auto;
  height: 10px;
}

@media screen and (min-width: 1281px) and (max-width: 1366px) {
  .paragraf-about-me {
    color: white;
    text-align: left;
    font-variant-caps: small-caps;
    font-size: 24px;
    position: relative;
    bottom: 150px;
    padding: 200px 0px 30px 55px;
  }
  .header-about-me {
    color: white;
    font-size: 140px;
    text-decoration: line-through;
    padding: 180px 0px 0px 0px;
    letter-spacing: 12px;
    font-weight: bold;
    position: relative;
    margin: 0 auto;
    text-align: left;
  }
  .me-mobile {
    display: none;
  }
  .me {
    position: relative;
    bottom: 580px;
    left: 435px;
    width: 99%;
  }
  .mobile-photo {
    display: none;
  }
  .header-before-paragraf > p {
    color: white;
    text-align: left;
    margin: 310px 0px 0px 55px;
    font-size: 40px;
    font-variant-caps: small-caps;
  }
  .what-i-am {
    color: white;
    font-variant-caps: small-caps;
    font-weight: bold;
    margin-left: 55px;
  }
  .what-i-do {
    color: white;
    font-variant-caps: small-caps;
    font-weight: bold;
    text-align: left;
    margin-left: 50px;
  }
  .what-i-am-paragraf {
    font-size: 24px;
    font-variant-caps: small-caps;
    color: white;
    text-align: left;
    position: relative;
    bottom: 200px;
    margin-left: 55px;
  }
  .what-i-do-paragraf {
    font-size: 24px;
    font-variant-caps: small-caps;
    color: white;
    text-align: left;
    position: relative;
    bottom: 200px;
    margin-left: 55px;
  }
  .section-what-i-am {
    margin: 0 auto;
    font-size: 40px;
    font-variant-caps: small-caps;
    position: relative;
    text-align: left;
  }
  .section-what-i-am > .row > .col-5 > h1 {
    text-align: left;
  }
  .section-photo {
    position: absolute;
  }
  .xxx {
    color: white;
    text-align: left;
    font-size: 20px;
    line-height: 34px;
    margin-left: 55px;
  }
  .xxx > a {
    color: white;
    text-decoration: none;
  }
  .xxx > h1 {
    font-weight: bold;
  }
  .header {
    color: white;
    text-align: left;
    margin: 140px 0px 0px 55px;
    font-size: 40px;
    font-variant-caps: small-caps;
  }
  .section-contact {
    position: relative;
    bottom: 320px;
  }
  .header-contact {
    color: white;
    font-size: 140px;
    text-decoration: line-through;
    padding: 165px 0px 0px 0px;
    letter-spacing: 12px;
    font-weight: bold;
    position: relative;
    margin: 0 auto;
    text-align: left;
  }
  .what {
    font-size: 19px;
    color: #4d4d4d;
  }
  .what-i {
    text-decoration: line-through;
    font-size: 70px;
  }
}

@media screen and (min-width: 1367px) and (max-width: 1920px) {
  .menda {
    color: white;
    position: relative;
    top: 520px;
    right: 433px;
    font-variant-caps: all-petite-caps;
    font-size: 18px;
  }
  .menda > a {
    text-decoration: none;
    color: white;
  }
  .menda > p {
    -webkit-text-decoration-line: line-through;
            text-decoration-line: line-through;
    font-weight: bold;
  }
  .mobile-photo {
    display: none;
  }
  body {
    margin: 0 auto;
    height: 10px;
  }
  .paragraf-about-me {
    color: white;
    text-align: left;
    font-variant-caps: all-petite-caps;
    font-size: 24px;
    position: relative;
    bottom: 150px;
    padding: 180px 0px 30px 55px;
  }
  .header-about-me {
    color: white;
    font-size: 140px;
    text-decoration: line-through;
    margin: 305px 0px 0px 0px;
    letter-spacing: 12px;
    font-weight: bold;
    position: relative;
    text-align: left;
  }
  .me {
    position: relative;
    bottom: 640px;
    left: 490px;
    width: 130%;
  }
  .header-before-paragraf > p {
    margin: 490px 0px 0px 50px;
    font-size: 40px;
    color: white;
    text-align: left;
  }
  .what-i-am {
    color: white;
    font-size: 46px;
    font-variant-caps: small-caps;
    font-weight: bold;
    margin-left: 55px;
  }
  .what-i-do {
    color: white;
    font-size: 46px;
    font-variant-caps: small-caps;
    font-weight: bold;
    text-align: left;
  }
  .what-i-am-paragraf {
    font-size: 24px;
    font-variant-caps: small-caps;
    color: white;
    text-align: left;
    position: relative;
    bottom: 290px;
    margin-left: 55px;
  }
  .what-i-do-paragraf {
    font-size: 24px;
    font-variant-caps: small-caps;
    color: white;
    text-align: left;
    position: relative;
    bottom: 190px;
    bottom: 290px;
  }
  .section-what-i-am {
    margin: 0 auto;
    font-size: 40px;
    font-variant-caps: small-caps;
    position: relative;
    text-align: left;
  }
  .section-what-i-am > .row > .col-5 > h1 {
    text-align: left;
  }
  .section-photo {
    position: absolute;
  }
  .xxx {
    color: white;
    text-align: left;
    font-size: 20px;
    line-height: 34px;
    margin-left: 55px;
  }
  .xxx > a {
    color: white;
    text-decoration: none;
  }
  .xxx > h1 {
    font-weight: bold;
  }
  .header {
    color: white;
    text-align: left;
    margin: 80px 0px 0px 55px;
    font-size: 40px;
    font-variant-caps: small-caps;
  }
  .section-contact {
    position: relative;
    bottom: 320px;
  }
  .header-contact {
    color: white;
    font-size: 140px;
    text-decoration: line-through;
    position: relative;
    top: 20px;
    letter-spacing: 12px;
    font-weight: bold;
    text-align: left;
    margin-top: 252px;
  }
  .what {
    font-size: 19px;
    color: #4d4d4d;
  }
  .what-i {
    text-decoration: line-through;
    font-size: 70px;
  }
  .menu-container {
    margin: 30px 0px 0px 150px;
    display: -ms-flexbox;
    cursor: pointer;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: fixed;
  }
  .me-mobile {
    display: none;
  }
}

body {
  margin: 0 auto;
}

@media screen and (min-width: 600px) and (max-width: 800px) and (orientation: landscape) {
  .paragraf-about-me {
    color: white;
    text-align: left;
    font-variant-caps: all-petite-caps;
    font-size: 18px;
    padding: 20px 0px 0px 20px;
  }
  .header-about-me {
    color: white;
    font-size: 70px;
    text-decoration: line-through;
    padding: 250px 0px 0px 0px;
    letter-spacing: 12px;
    font-weight: bold;
    position: relative;
    margin: 0 auto;
    text-align: left;
  }
  .header-before-paragraf > p {
    color: white;
    text-align: left;
    margin: 400px 0px 0px 20px;
    font-size: 32px;
    font-variant-caps: small-caps;
  }
  .me {
    display: none;
  }
  .me-mobile {
    width: 95%;
    right: 150px;
    position: absolute;
  }
  .what-i-am {
    color: white;
    font-variant-caps: small-caps;
    font-weight: bold;
    width: 100%;
    margin: 20px 0px 0px 20px;
  }
  .what-i-do {
    color: white;
    font-variant-caps: small-caps;
    font-weight: bold;
    text-align: left;
    margin: 20px 0px 0px 80px;
    width: 100%;
  }
  .what-i-am-paragraf {
    font-size: 20px;
    font-variant-caps: small-caps;
    color: white;
    text-align: left;
    position: relative;
    margin-left: 20px;
    width: 120%;
  }
  .what-i-do-paragraf {
    font-size: 20px;
    font-variant-caps: small-caps;
    color: white;
    text-align: left;
    position: relative;
    margin-left: 80px;
    width: 100%;
  }
  .section-what-i-am {
    margin: 0 auto;
    font-size: 28px;
    font-variant-caps: small-caps;
    position: relative;
    text-align: left;
  }
  .section-what-i-am > .row > .col-5 > h1 {
    text-align: left;
  }
  .section-photo {
    position: absolute;
  }
  .xxx {
    color: white;
    text-align: left;
    font-size: 20px;
    line-height: 21.5px;
    margin-left: 20px;
  }
  .xxx > a {
    color: white;
    text-decoration: none;
  }
  .xxx > h1 {
    font-weight: bold;
  }
  .header {
    color: white;
    text-align: left;
    margin: 0px 0px 0px 20px;
    font-size: 40px;
    font-variant-caps: small-caps;
  }
  .section-contact {
    bottom: 320px;
  }
  .header-contact {
    color: white;
    font-size: 70px;
    text-decoration: line-through;
    padding: 40px 0px 0px 0px;
    letter-spacing: 12px;
    font-weight: bold;
    position: relative;
    text-align: left;
  }
  .what {
    font-size: 17px;
    color: #4d4d4d;
  }
  .what-i {
    text-decoration: line-through;
    font-size: 40px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) and (orientation: landscape) {
  .paragraf-about-me {
    color: white;
    text-align: left;
    font-variant-caps: small-caps;
    font-size: 24px;
    position: relative;
    bottom: 150px;
    padding: 180px 0px 30px 55px;
  }
  .header-about-me {
    color: white;
    font-size: 140px;
    text-decoration: line-through;
    padding: 250px 0px 0px 0px;
    letter-spacing: 12px;
    font-weight: bold;
    position: relative;
    margin: 0 auto;
    text-align: left;
  }
  .me-mobile {
    width: 93%;
    right: 250px;
    position: absolute;
    padding-top: 100px;
  }
  .me {
    display: none;
  }
  .mobile-photo {
    display: none;
  }
  .header-before-paragraf > p {
    color: white;
    text-align: left;
    margin: 680px 0px 0px 55px;
    font-size: 40px;
    font-variant-caps: small-caps;
  }
  .what-i-am {
    color: white;
    font-variant-caps: small-caps;
    font-weight: bold;
    margin-left: 55px;
  }
  .what-i-do {
    color: white;
    font-variant-caps: small-caps;
    font-weight: bold;
    text-align: left;
    margin-left: 50px;
  }
  .what-i-am-paragraf {
    font-size: 24px;
    font-variant-caps: small-caps;
    color: white;
    text-align: left;
    position: relative;
    bottom: 160px;
    margin-left: 55px;
  }
  .what-i-do-paragraf {
    font-size: 24px;
    font-variant-caps: small-caps;
    color: white;
    text-align: left;
    position: relative;
    bottom: 160px;
    margin-left: 55px;
  }
  .section-what-i-am {
    margin: 0 auto;
    font-size: 40px;
    font-variant-caps: small-caps;
    position: relative;
    text-align: left;
  }
  .section-what-i-am > .row > .col-5 > h1 {
    text-align: left;
  }
  .section-photo {
    position: absolute;
  }
  .xxx {
    color: white;
    text-align: left;
    font-size: 20px;
    line-height: 30px;
    margin-left: 55px;
  }
  .xxx > a {
    color: white;
    text-decoration: none;
  }
  .xxx > h1 {
    font-weight: bold;
  }
  .header {
    color: white;
    text-align: left;
    margin: 140px 0px 0px 55px;
    font-size: 40px;
    font-variant-caps: small-caps;
  }
  .section-contact {
    position: relative;
    bottom: 320px;
  }
  .header-contact {
    color: white;
    font-size: 140px;
    text-decoration: line-through;
    padding: 165px 0px 0px 0px;
    letter-spacing: 12px;
    font-weight: bold;
    position: relative;
    margin: 0 auto;
    text-align: left;
  }
  .what {
    font-size: 19px;
    color: #4d4d4d;
  }
  .what-i {
    text-decoration: line-through;
    font-size: 70px;
  }
}

@media screen and (min-width: 300px) and (max-width: 450px) and (orientation: portrait) {
  .paragraf-about-me {
    color: white;
    text-align: left;
    font-variant-caps: all-petite-caps;
    font-size: 18px;
    padding: 180px 0px 0px 20px;
  }
  .header-about-me {
    color: white;
    font-size: 46px;
    text-decoration: line-through;
    padding: 320px 0px 0px 0px;
    letter-spacing: 8px;
    font-weight: bold;
    position: relative;
    margin: 0 auto;
    text-align: left;
  }
  .header-before-paragraf > p {
    color: white;
    text-align: left;
    margin: 260px 0px 0px 20px;
    font-size: 32px;
    font-variant-caps: small-caps;
  }
  .me {
    display: none;
  }
  .me-mobile {
    width: 95%;
    right: 90px;
    position: absolute;
    padding-top: 260px;
  }
  .what-i-am {
    color: white;
    font-variant-caps: small-caps;
    font-weight: bold;
    margin-left: 20px;
    width: 100%;
  }
  .what-i-do {
    color: white;
    font-variant-caps: small-caps;
    font-weight: bold;
    text-align: left;
    margin-left: 80px;
    width: 100%;
  }
  .what-i-am-paragraf {
    font-size: 20px;
    font-variant-caps: small-caps;
    color: white;
    text-align: left;
    position: relative;
    bottom: 200px;
    margin-left: 20px;
    width: 120%;
  }
  .what-i-do-paragraf {
    font-size: 20px;
    font-variant-caps: small-caps;
    color: white;
    text-align: left;
    position: relative;
    bottom: 200px;
    margin-left: 80px;
    width: 100%;
  }
  .section-what-i-am {
    margin: 0 auto;
    font-size: 28px;
    font-variant-caps: small-caps;
    position: relative;
    text-align: left;
  }
  .section-what-i-am > .row > .col-5 > h1 {
    text-align: left;
  }
  .section-photo {
    position: absolute;
  }
  .xxx {
    color: white;
    text-align: left;
    font-size: 20px;
    line-height: 30px;
    margin-left: 20px;
  }
  .xxx > a {
    color: white;
    text-decoration: none;
  }
  .xxx > h1 {
    font-weight: bold;
  }
  .header {
    color: white;
    text-align: left;
    padding: 15px 0px 0px 20px;
    font-size: 40px;
    font-variant-caps: small-caps;
  }
  .section-contact {
    position: relative;
    bottom: 320px;
  }
  .header-contact {
    color: white;
    font-size: 48px;
    text-decoration: line-through;
    padding: 250px 0px 0px 0px;
    letter-spacing: 12px;
    font-weight: bold;
    position: relative;
    margin: 0 auto;
    text-align: left;
  }
  .what {
    font-size: 19px;
    color: #4d4d4d;
  }
  .what-i {
    text-decoration: line-through;
    font-size: 40px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .paragraf-about-me {
    color: white;
    text-align: left;
    font-variant-caps: small-caps;
    font-size: 24px;
    position: relative;
    bottom: 150px;
    padding: 180px 0px 30px 55px;
  }
  .header-about-me {
    color: white;
    font-size: 110px;
    text-decoration: line-through;
    padding: 300px 0px 0px 0px;
    letter-spacing: 10px;
    font-weight: bold;
    position: relative;
    margin: 0 auto;
    text-align: left;
  }
  .me-mobile {
    width: 95%;
    right: 200px;
    position: absolute;
    padding-top: 230px;
  }
  .me {
    display: none;
  }
  .header-before-paragraf > p {
    color: white;
    text-align: left;
    margin: 550px 0px 0px 55px;
    font-size: 40px;
    font-variant-caps: small-caps;
  }
  .what-i-am {
    width: 100%;
    color: white;
    font-variant-caps: small-caps;
    font-weight: bold;
    margin-left: 55px;
  }
  .what-i-do {
    color: white;
    width: 100%;
    font-variant-caps: small-caps;
    font-weight: bold;
    text-align: left;
    margin-left: 80px;
  }
  .what-i-am-paragraf {
    font-size: 24px;
    font-variant-caps: small-caps;
    color: white;
    text-align: left;
    position: relative;
    bottom: 215px;
    margin-left: 55px;
  }
  .what-i-do-paragraf {
    font-size: 24px;
    font-variant-caps: small-caps;
    color: white;
    text-align: left;
    position: relative;
    bottom: 215px;
    margin-left: 80px;
  }
  .section-what-i-am {
    margin: 0 auto;
    font-size: 40px;
    font-variant-caps: small-caps;
    position: relative;
    text-align: left;
  }
  .section-what-i-am > .row > .col-5 > h1 {
    text-align: left;
  }
  .section-photo {
    position: absolute;
  }
  .xxx {
    color: white;
    text-align: left;
    font-size: 20px;
    line-height: 34px;
    margin-left: 55px;
  }
  .xxx > a {
    color: white;
    text-decoration: none;
  }
  .xxx > h1 {
    font-weight: bold;
  }
  .header {
    color: white;
    text-align: left;
    margin: 140px 0px 0px 55px;
    font-size: 40px;
    font-variant-caps: small-caps;
  }
  .section-contact {
    position: relative;
    bottom: 320px;
  }
  .header-contact {
    color: white;
    font-size: 110px;
    text-decoration: line-through;
    padding: 200px 0px 0px 0px;
    letter-spacing: 10px;
    font-weight: bold;
    position: relative;
    margin: 0 auto;
    text-align: left;
  }
  .what {
    font-size: 19px;
    color: #4d4d4d;
  }
  .what-i {
    text-decoration: line-through;
    font-size: 70px;
  }
}

html {
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
}
/*# sourceMappingURL=style.prefixed.css.map */