/*Menu STANTARD*/
.menu-container {
margin: 30px 0px 0px 120px;
display: -ms-flexbox;
cursor: pointer;
-ms-flex-align: center;
align-items: center;
-ms-flex-pack: center;
justify-content: center;
position: fixed;
}
.menu-icon span { position: relative; display: block; width: 49px; height: 5.5px; background: black; border-radius: 2px; margin-bottom: 5px; transition: transform 0.4s ease-in-out, height 0.4s ease-in-out; }
.opened span { background: black; transition: transform 0.4s ease-in-out,  height 0s ease-in-out; }
.opened span:nth-child(1) { transform: rotate(-45deg); top: 12px; }
.opened span:nth-child(2) { transform: scale(0); height: 0; }
.opened span:nth-child(3) { transform: rotate(45deg); }
.menu-navi { display: inline-block; margin: 35px 0px 0px -15px; width: 0; overflow: hidden; transition: width 0.4s ease-in-out; }
.menu-navi ul { text-align: left; }
.menu-navi ul li { display: block; }
.menu-navi ul li a { font-weight: 700; text-transform: uppercase; text-decoration: none; font-size: 30px; line-height: 70px; position: relative; transition: margin .4s; color: black; }
.menu-navi li a:hover { text-decoration: line-through;}
.opened .menu-navi { width: 150px; transition: width 0.5s ease-in-out; }
.menu-navi {
display: inline-block;
margin: 35px 0px 0px -25px;
width: 0;
overflow: hidden;
transition: width 0.4s ease-in-out;
}

/*KONIEC MENU STANTARD*/

/*MENU LAPTOP*/
@media screen and (min-width: 1281px) and (max-width: 1366px){
.menu-navi ul li a {
line-height: 56px;
}
}

/*MENU KONTENER MOBILE PORTRAIT iPhone*/
 @media screen and (min-width: 300px) and (max-width: 450px) and (orientation:portrait) {
 	.menu-container {
margin: 18px 0px 0px 20px;
display: -ms-flexbox;
cursor: pointer;
-ms-flex-align: center;
align-items: center;
-ms-flex-pack: center;
justify-content: center;
position: fixed;
}
.menu-navi ul li a{
font-size: 12.5px;
line-height: 43px;
font-weight: bold;
}
.menu-navi {
display: inline-block;
margin: 35px 0px 0px -18.5px;
width: 0;
overflow: hidden;
transition: width 0.4s ease-in-out;
}
.menu-icon span { position: relative; display: block; width: 29px; height: 4px; background: black; border-radius: 2px; margin-bottom: 4px; transition: transform 0.3s ease-in-out, height 0.3s ease-in-out; }
}

/*MENU KONTENER MOBILE LANDSCAPE iPhone*/
 @media screen and (min-width: 600px) and (max-width: 800px) and (orientation:landscape) {
 	.menu-container {
margin: 18px 0px 0px 60px;
display: -ms-flexbox;
cursor: pointer;
-ms-flex-align: center;
align-items: center;
-ms-flex-pack: center;
justify-content: center;
position: fixed;
}
.menu-navi ul li a{
font-size: 12.5px;
line-height: 43px;
font-weight: bold;
}
.menu-navi {
display: inline-block;
margin: 35px 0px 0px -18.5px;
width: 0;
overflow: hidden;
transition: width 0.4s ease-in-out;
}
.menu-icon span { position: relative; display: block; width: 29px; height: 4px; background: black; border-radius: 2px; margin-bottom: 4px; transition: transform 0.3s ease-in-out, height 0.3s ease-in-out; }
}
/*MENU KONTENER MOBILE LANDSCAPE*/

/*MENU KONTENER TABLET LANDSCAPE*/
 @media screen and (min-width: 1024px) and (max-width: 1280px) and (orientation:landscape) {
 	.menu-container {
margin: 18px 0px 0px 90px;
display: -ms-flexbox;
cursor: pointer;
-ms-flex-align: center;
align-items: center;
-ms-flex-pack: center;
justify-content: center;
position: fixed;
}
.menu-navi ul li a{
font-size: 12.5px;
line-height: 43px;
font-weight: bold;
}
.menu-navi {
display: inline-block;
margin: 35px 0px 0px -18.5px;
width: 0;
overflow: hidden;
transition: width 0.4s ease-in-out;
}
.menu-icon span { position: relative; display: block; width: 29px; height: 4px; background: black; border-radius: 2px; margin-bottom: 4px; transition: transform 0.3s ease-in-out, height 0.3s ease-in-out; }
}
/*MENU KONTENER TABLET LANDSCAPE*/
/*MENU KONTENER TABLET*/
 @media screen and (min-width: 768px) and (max-width: 1024px) and (orientation:portrait) {
 	.menu-container {
margin: 18px 0px 0px 20px;
display: -ms-flexbox;
cursor: pointer;
-ms-flex-align: center;
align-items: center;
-ms-flex-pack: center;
justify-content: center;
position: fixed;
}
.menu-navi ul li a{
font-size: 12.5px;
line-height: 43px;
font-weight: bold;
}
.menu-navi {
display: inline-block;
margin: 35px 0px 0px -18.5px;
width: 0;
overflow: hidden;
transition: width 0.4s ease-in-out;
}
.menu-icon span { position: relative; display: block; width: 29px; height: 4px; background: black; border-radius: 2px; margin-bottom: 4px; transition: transform 0.3s ease-in-out, height 0.3s ease-in-out; }
}