body {
margin: 0 auto;
}
@media screen and (min-width: 600px) and (max-width: 800px) and (orientation:landscape) {
.paragraf-about-me {
color: white;
text-align: left;
font-variant-caps: all-petite-caps;
font-size: 18px;
padding: 20px 0px 0px 20px;
}
.header-about-me {
color: white;
font-size: 70px;
text-decoration: line-through;
padding: 250px 0px 0px 0px;
letter-spacing: 12px;
font-weight: bold;
position: relative;
margin: 0 auto;
text-align: left;
}

.header-before-paragraf>p {
color:white;
text-align: left;
margin: 400px 0px 0px 20px;
font-size: 32px;
font-variant-caps: small-caps;
}
.me {
display: none;
}
.me-mobile {
    width: 95%;
    right: 150px;
    position: absolute;
    
}
.what-i-am {
	color: white;
    font-variant-caps: small-caps;
    font-weight: bold;
    width: 100%;
    margin:20px 0px 0px 20px;
}
.what-i-do {
	color: white;
    font-variant-caps: small-caps;
    font-weight: bold;
    text-align: left;
    margin:20px 0px 0px 80px;
    width: 100%;
}
.what-i-am-paragraf {
	font-size: 20px;
	font-variant-caps: small-caps;
	color: white;
	text-align: left;
	position: relative;
	margin-left: 20px;
	width: 120%;
}
.what-i-do-paragraf {
		font-size: 20px;
	font-variant-caps: small-caps;
	color: white;
	text-align: left;
	position: relative;

	margin-left: 80px;
	width: 100%;
}
.section-what-i-am {
	margin: 0 auto;
	font-size: 28px;
	font-variant-caps: small-caps;
	position: relative;
	text-align: left;
}
.section-what-i-am>.row>.col-5>h1 {
	text-align: left;
}
.section-photo {
	position: absolute;
}
.xxx {
	color: white;
	text-align: left;
	font-size: 20px;
	line-height: 21.5px;
	margin-left: 20px;

}
.xxx>a {
	color: white;
	text-decoration: none;
}
.xxx>h1 {
	font-weight: bold;
}
.header {
	color:white;
	text-align: left;
	margin: 0px 0px 0px 20px;
	font-size: 40px;
	font-variant-caps: small-caps;
}
.section-contact {

	bottom: 320px;
}
.header-contact {
color: white;
font-size: 70px;
text-decoration: line-through;
padding: 40px 0px 0px 0px;
letter-spacing: 12px;
font-weight: bold;
position: relative;
text-align: left;
}
.what {
	font-size: 17px;
	color:  #4d4d4d;
}
.what-i {
	text-decoration: line-through;
	font-size: 40px;
}
}
 @media screen and (min-width: 1024px) and (max-width: 1280px) and (orientation:landscape) {
 .paragraf-about-me {
color: white;
text-align: left;
font-variant-caps: small-caps;
font-size: 24px;
position: relative;
bottom:150px;
padding: 180px 0px 30px 55px;
}
.header-about-me {
color: white;
font-size: 140px;
text-decoration: line-through;
padding: 250px 0px 0px 0px;
letter-spacing: 12px;
font-weight: bold;
position: relative;
margin: 0 auto;
text-align: left;
}
.me-mobile {
 width: 93%;
    right: 250px;
    position: absolute;
    padding-top: 100px;
}
.me {
  display: none;
}
.mobile-photo {
	display: none;
}

.header-before-paragraf>p {
	color:white;
	text-align: left;
	margin: 680px 0px 0px 55px;
	font-size: 40px;
	font-variant-caps: small-caps;
}
.what-i-am {
	
	color: white;
    font-variant-caps: small-caps;
    font-weight: bold;
    margin-left: 55px;
}
.what-i-do {
	color: white;
    font-variant-caps: small-caps;
    font-weight: bold;
    text-align: left;
    margin-left: 50px;
}
.what-i-am-paragraf {
	font-size: 24px;
	font-variant-caps: small-caps;
	color: white;
	text-align: left;
	position: relative;
	bottom: 160px;
	margin-left: 55px;
}
.what-i-do-paragraf {
		font-size: 24px;
	font-variant-caps: small-caps;
	color: white;
	text-align: left;
	position: relative;
	bottom: 160px;
	margin-left: 55px;
}
.section-what-i-am {
	margin: 0 auto;
	font-size: 40px;
	font-variant-caps: small-caps;
	position: relative;
	text-align: left;
}
.section-what-i-am>.row>.col-5>h1 {
	text-align: left;
}
.section-photo {
	position: absolute;
}
.xxx {
	color: white;
	text-align: left;
	font-size: 20px;
	line-height: 30px;
	margin-left: 55px;

}
.xxx>a {
	color: white;
	text-decoration: none;
}
.xxx>h1 {
	font-weight: bold;
}
.header {
	color:white;
	text-align: left;
	margin: 140px 0px 0px 55px;
	font-size: 40px;
	font-variant-caps: small-caps;
}
.section-contact {
	position: relative;
	bottom: 320px;
}
.header-contact {
	color: white;
font-size: 140px;
text-decoration: line-through;
padding: 165px 0px 0px 0px;
letter-spacing: 12px;
font-weight: bold;
position: relative;
margin: 0 auto;
text-align: left;
}
.what {
	font-size: 19px;
	color:  #4d4d4d;
}
.what-i {
	text-decoration: line-through;
	font-size: 70px;
}
}
 @media screen and (min-width: 300px) and (max-width: 450px) and (orientation:portrait) {
.paragraf-about-me {
color: white;
text-align: left;
font-variant-caps: all-petite-caps;
font-size: 18px;
padding: 180px 0px 0px 20px;
}
.header-about-me {
color: white;
font-size: 46px;
text-decoration: line-through;
padding: 320px 0px 0px 0px;
letter-spacing: 8px;
font-weight: bold;
position: relative;
margin: 0 auto;
text-align: left;
}
.header-before-paragraf>p {
	color:white;
	text-align: left;
	margin: 260px 0px 0px 20px;
	font-size: 32px;
	font-variant-caps: small-caps;
}
.me {
display: none;
}
.me-mobile {
    width: 95%;
    right: 90px;
    position: absolute;
    padding-top: 260px;
}
.what-i-am {
	color: white;
    font-variant-caps: small-caps;
    font-weight: bold;
    margin-left: 20px;
    width: 100%;
}
.what-i-do {
	color: white;
    font-variant-caps: small-caps;
    font-weight: bold;
    text-align: left;
    margin-left: 80px;
    width: 100%;
}
.what-i-am-paragraf {
	font-size: 20px;
	font-variant-caps: small-caps;
	color: white;
	text-align: left;
	position: relative;
	bottom: 200px;
	margin-left: 20px;
	width: 120%;
}
.what-i-do-paragraf {
		font-size: 20px;
	font-variant-caps: small-caps;
	color: white;
	text-align: left;
	position: relative;
	bottom: 200px;
	margin-left: 80px;
	width: 100%;
}
.section-what-i-am {
	margin: 0 auto;
	font-size: 28px;
	font-variant-caps: small-caps;
	position: relative;
	text-align: left;
}
.section-what-i-am>.row>.col-5>h1 {
	text-align: left;
}
.section-photo {
	position: absolute;
}
.xxx {
	color: white;
	text-align: left;
	font-size: 20px;
	line-height: 30px;
	margin-left: 20px;

}
.xxx>a {
	color: white;
	text-decoration: none;
}
.xxx>h1 {
	font-weight: bold;
}
.header {
	color:white;
	text-align: left;
	padding: 15px 0px 0px 20px;
	font-size: 40px;
	font-variant-caps: small-caps;
}
.section-contact {
	position: relative;
	bottom: 320px;
}
.header-contact {
color: white;
font-size: 48px;
text-decoration: line-through;
padding: 250px 0px 0px 0px;
letter-spacing: 12px;
font-weight: bold;
position: relative;
margin: 0 auto;
text-align: left;
}
.what {
	font-size: 19px;
	color:  #4d4d4d;
}
.what-i {
	text-decoration: line-through;
	font-size: 40px;
}
}
 @media screen and (min-width: 768px) and (max-width: 1024px) and (orientation:portrait) {
.paragraf-about-me {
color: white;
text-align: left;
font-variant-caps: small-caps;
font-size: 24px;
position: relative;
bottom:150px;
padding: 180px 0px 30px 55px;
}
.header-about-me {
color: white;
font-size: 110px;
text-decoration: line-through;
padding: 300px 0px 0px 0px;
letter-spacing: 10px;
font-weight: bold;
position: relative;
margin: 0 auto;
text-align: left;
}
.me-mobile {
  width: 95%;
    right: 200px;
    position: absolute;
    padding-top: 230px;
}
.me {
display: none;
}
.header-before-paragraf>p {
	color:white;
	text-align: left;
	margin: 550px 0px 0px 55px;
	font-size: 40px;
	font-variant-caps: small-caps;
}
.what-i-am {
	width: 100%;
	color: white;
    font-variant-caps: small-caps;
    font-weight: bold;
    margin-left: 55px;
}
.what-i-do {
	color: white;
	width: 100%;
    font-variant-caps: small-caps;
    font-weight: bold;
    text-align: left;
    margin-left: 80px;
}
.what-i-am-paragraf {
	font-size: 24px;
	font-variant-caps: small-caps;
	color: white;
	text-align: left;
	position: relative;
	bottom: 215px;
	margin-left: 55px;
}
.what-i-do-paragraf {
		font-size: 24px;
	font-variant-caps: small-caps;
	color: white;
	text-align: left;
	position: relative;
	bottom: 215px;
	margin-left: 80px;
}
.section-what-i-am {
	margin: 0 auto;
	font-size: 40px;
	font-variant-caps: small-caps;
	position: relative;
	text-align: left;
}
.section-what-i-am>.row>.col-5>h1 {
	text-align: left;
}
.section-photo {
	position: absolute;
}
.xxx {
	color: white;
	text-align: left;
	font-size: 20px;
	line-height: 34px;
	margin-left: 55px;

}
.xxx>a {
	color: white;
	text-decoration: none;
}
.xxx>h1 {
	font-weight: bold;
}
.header {
	color:white;
	text-align: left;
	margin: 140px 0px 0px 55px;
	font-size: 40px;
	font-variant-caps: small-caps;
}
.section-contact {
	position: relative;
	bottom: 320px;
}
.header-contact {
color: white;
font-size: 110px;
text-decoration: line-through;
padding: 200px 0px 0px 0px;
letter-spacing: 10px;
font-weight: bold;
position: relative;
margin: 0 auto;
text-align: left;
}
.what {
	font-size: 19px;
	color:  #4d4d4d;
}
.what-i {
	text-decoration: line-through;
	font-size: 70px;
}
}